body {
    margin: 0;
    padding: 0;
    background-color:#2c2c2c;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin-left: 15%;
    margin-right: 15%;
}

.leftBox{
    position: absolute;
    top: 0px;
    width: 10vw;
    height: 100vh;
    background-color: blueviolet;
    z-index: -1;
}

.rightBox{
    position: absolute;
    left: 90vw;
    top: 0px;
    width: 10vw;
    height: 100vh;
    background-color: blueviolet;
    z-index: -1;
}